POSTGRES_DB=umbral
POSTGRES_USER=umbral
POSTGRES_PASSWORD=umbral
POSTGRES_PORT=5433

RABBITMQ_DEFAULT_USER=umbral
RABBITMQ_DEFAULT_PASS=umbral
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=16672

KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=umbral

EDGE_PROXY_PORT=7500

IDENTITY_ACCESS_PORT=7100
MISSION_DESIGN_PORT=7101
SESSION_OPERATIONS_PORT=7102
SCORING_AUDIT_PORT=7103

AUTH_AUTHORITY=http://keycloak:8080/auth/realms/umbral
AUTH_REQUIRE_HTTPS_METADATA=false
IDENTITY_ACCESS_KEYCLOAK_BASE_URL=http://keycloak:8080/auth
IDENTITY_ACCESS_KEYCLOAK_REALM=umbral
IDENTITY_ACCESS_KEYCLOAK_ADMIN_REALM=master
IDENTITY_ACCESS_KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
IDENTITY_ACCESS_KEYCLOAK_ADMIN_USERNAME=admin
IDENTITY_ACCESS_KEYCLOAK_ADMIN_PASSWORD=admin

TEMPLATE_OUTPUT_DIR=/workspace/templates-output

WEB_PORT=3000
KEYCLOAK_WEB_CLIENT_ID=umbral-web
EDGE_PROXY_INTERNAL_BASE_URL=http://edge-proxy:8080
KEYCLOAK_INTERNAL_BASE_URL=http://edge-proxy:8080/auth
NEXT_PUBLIC_EDGE_PROXY_BASE_URL=http://localhost:7500
NEXT_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:7500/auth
NEXT_PUBLIC_SESSION_OPERATIONS_HUB_PATH=/session-hub/hubs/session
NEXT_PUBLIC_SCORING_AUDIT_HUB_PATH=/scoring-audit/hub/scoring

MOBILE_WEB_PORT=19006
MOBILE_EDGE_PROXY_BASE_URL=http://localhost:7500
MOBILE_KEYCLOAK_BASE_URL=http://localhost:7500/auth
MOBILE_KEYCLOAK_REALM=umbral
MOBILE_KEYCLOAK_CLIENT_ID=umbral-mobile
MOBILE_SESSION_OPERATIONS_HUB_PATH=/session-hub/hubs/session
MOBILE_SCORING_AUDIT_HUB_PATH=/scoring-audit/hub/scoring
