EXPO_PUBLIC_EDGE_PROXY_BASE_URL=http://localhost:7000
EXPO_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:7000/auth
EXPO_PUBLIC_KEYCLOAK_REALM=umbral
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=umbral-mobile
EXPO_PUBLIC_SESSION_OPERATIONS_HUB_PATH=/session-hub/hubs/session
